### Problem set - 3, Exercise - 5 (b)

In [38]:
from pyspark import SparkContext

In [39]:
sc = SparkContext("local", "RDD Examples")

In [40]:
# Create sample RDD (Car brand, Horse power)
data = [
    ("Mercedes-Benz", 503),
    ("BMW", 480),
    ("Audi", 450),
    ("Mercedes-Benz", 503),
    ("Porsche", 520),
    ("Jaguar", 510),
    ("Tesla", 450),
    ("Ferrari", 710),
    ("Lamborghini", 730),
    ("Bugatti", 1500)
]

rdd = sc.parallelize(data)

### Transformations

#### 1. distinct()

In [41]:
distinct_rdd = rdd.distinct()

assert len(distinct_rdd.collect()) == 9, "Distinct test failed"

print("Distinct:", distinct_rdd.collect())

Distinct: [('Mercedes-Benz', 503), ('BMW', 480), ('Audi', 450), ('Porsche', 520), ('Jaguar', 510), ('Tesla', 450), ('Ferrari', 710), ('Lamborghini', 730), ('Bugatti', 1500)]

#### 2. reduceByKey()

In [42]:
reduced_rdd = rdd.reduceByKey(lambda a, b: a + b)

assert reduced_rdd.collect()[0][1] == 503 + 503, "ReduceByKey test failed"

print("Reduced by key:", reduced_rdd.collect())

Reduced by key: [('Mercedes-Benz', 1006), ('BMW', 480), ('Audi', 450), ('Porsche', 520), ('Jaguar', 510), ('Tesla', 450), ('Ferrari', 710), ('Lamborghini', 730), ('Bugatti', 1500)]

#### 3. flatMapValues()

In [43]:
flat_map_values_rdd = rdd.flatMapValues(lambda x: range(min(x, 2)))
print("FlatMapValues:", flat_map_values_rdd.collect())

FlatMapValues: [('Mercedes-Benz', 0), ('Mercedes-Benz', 1), ('BMW', 0), ('BMW', 1), ('Audi', 0), ('Audi', 1), ('Mercedes-Benz', 0), ('Mercedes-Benz', 1), ('Porsche', 0), ('Porsche', 1), ('Jaguar', 0), ('Jaguar', 1), ('Tesla', 0), ('Tesla', 1), ('Ferrari', 0), ('Ferrari', 1), ('Lamborghini', 0), ('Lamborghini', 1), ('Bugatti', 0), ('Bugatti', 1)]

### Actions

#### 1. count()

In [44]:
count = rdd.count()
print("Count:", count)

Count: 10

#### 2. take()

In [45]:
taken = rdd.take(3)
assert len(taken) == 3, "Take test failed"
print("Take:", taken)

Take: [('Mercedes-Benz', 503), ('BMW', 480), ('Audi', 450)]

#### 3. top()

In [46]:
top_elements = rdd.top(3, key=lambda x: x[1]) 

assert top_elements[0][0] == "Bugatti", "Top test failed"
assert top_elements[1][0] == "Lamborghini", "Top test failed"

print("Top 3 elements by value:", top_elements)

Top 3 elements by value: [('Bugatti', 1500), ('Lamborghini', 730), ('Ferrari', 710)]

In [47]:
sc.stop()